#!include:.gitignore
.env.example
.git*
.nova/
.npmrc
docs/
LICENSE.md
package.json
phive.xml
phpstan.neon
pnpm-lock.yaml
psalm.xml
!public/
README.md
src/client/
template/
tools/
tsconfig.json
vendor/
webpack.config.js
